body {
    margin: 0; 
    background-image: url(assets/images/mountains.jpg);
    background-repeat: no-repeat; 
    background-size: auto; 
    background-position: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

#top {
    padding: 85px 0px 85px 0px; 
    margin: 0;
    text-align: center; 
}
#title {
    font-size: 60px;
    font-weight: bold; 
    color:aliceblue; 
}

#main {
    position: absolute; 
    margin: 0px auto 0px auto; 
    left: 50%; 
    transform: translate(-50%, 0%); 
    width: 1000px; 
    top: 239px; 
    bottom: 100px;
    border-radius: 10px; 
    background-color:aliceblue;  
    color:black; 
}
#maindiv {
    margin: 30px; 
}
