body {
    margin: 0; 
    background-image: url(assets/images/mountains.jpg);
    background-repeat: no-repeat; 
    background-size: auto; 
    background-position: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

#top {
    padding: 80px 0px 80px 0px; 
    margin: 0;
    text-align: center; 
}
#title {
    font-size: 60px;
    font-weight: bold; 
    color:aliceblue; 
}

#main {
    position: relative; 
    margin: 0px auto 100px auto; 
    min-height: 70vh; 
    width: 1000px; 
    height: auto; 
    border-radius: 10px; 
    background-color:aliceblue;  
    color:black; 
    opacity: 0.9; 
}
#maindiv {
    position: relative; 
    padding: 10px; 
}
#maintop {
    position: relative;
    height: 100px; 
}
#textbox {
    position: absolute; 
    border-radius: 5px; 
    border-width: 1px;
    height: 75px; 
    width: 810px; 
    top: 13px; 
    left: 25px; 
}
#addbutton {
    position: absolute; 
    left: 875px;
    top: 13px; 
    width: 79px; 
    height: 79px; 
    padding: 0; 
    margin: 0; 
    background: linear-gradient(180deg, #a7effc, #93c2ff); 
    border-width: 1px;
    border-radius: 5px; 
    letter-spacing: 1px;
    font-weight: bold; 
}
#line {
    height: 1px; 
    margin: 15px 10px 15px 10px; 
    background-color: black; 
}
#mainbody {
    position: relative;
    height: 200px; 
}
